.popup__error {
    display: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin-top: -25px;
    margin-left: 36px;
    margin-bottom: 13px;
}
.popup__error:last-of-type{
    margin-top: -43px;
}
@media screen and (max-width: 400px) {
.popup__error {
    margin-left: 22px;
}
}