.footer {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
    padding-top: 66px;  
}
@media screen and (max-width: 900px) {
.footer{
    max-width: 282px;
    margin-bottom: 36px;
    padding-top: 48px; 
}
}
        
