 
.profile__img-conteiner{
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
    margin-right: 30px;
    display: flex;
    
}
@media screen and (max-width: 900px) {
    .profile__img-conteiner {
    margin-right: 0;    
                      
}
}